site_name: Galarzaa's Docs
site_description: Personal collection of snippets and miscellanous documentation.
site_author: Allan Galarza
repo_name: Galarzaa90/PersonalDocs
repo_url: https://github.com/Galarzaa90/PersonalDocs
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: 'indigo'
    accent: 'orange'
    toggle:
      icon: material/weather-night
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: 'indigo'
    accent: 'orange'
    toggle:
      icon: material/weather-sunny
      name: Switch to light mode
  features:
    - navigation.tracking
    - content.code.copy
    - content.action.view
    - content.action.edit
    - navigation.footer
    - navigation.instant
    - navigation.tabs
    - search.highlight
    - search.suggest
    - search.share
    - toc.follow
  icon:
    repo: fontawesome/brands/github

plugins:
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: Galarzaa90/PersonalDocs
      branch: main
  - search


markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - codehilite
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 

extra:
  social:
    - icon: fontawesome/solid/globe
      link: https://galarzaa.com
    - icon: fontawesome/brands/github
      link: https://github.com/Galarzaa90
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/galarzaa/

nav:
  - Home: 
    - Home: index.md
    - Uses: uses.md
  - Development:
    - Windows: dev/windows.md
    - Terminal: dev/terminal.md
    - Misc: dev/misc.md
  - Projects:
    - PC Monitoring: projects/monitoring.md
  
      

